.wrapper {
    transition: background 0.5s ease;
    height: 100%;
    width: 100vw;
}
.wrapper_dark {
    background: rgb(9, 9, 65);
}
.wrapper_light {
    background: rgb(238, 237, 237);    
}
.main {
    font-size: 3rem;
    height: 100%;
    width: 75vw;
    overflow-y: auto;
}
.main_dark {
    color: white;
}
.main_light {
    color: black
}

/* Image Carousel Styles */
.item {
    position: relative;
    height: 55vh;
    width: 70vw;
    padding: 40px;
}
.item img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 10px;
}
.carousel {
    display: grid;
    place-items: center;
    cursor: grab;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.inner_carousel {
    display: inline-flex;
    height: 55vh;
    width: 100%;
}
