.main_wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25vw 75vw;
}
.mobile_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.nav {
    transition: background 0.5s ease;
    display: grid;
    grid-template-rows: 10vh 90vh;
}
.nav_dark {
    background: #10107D;
}
.nav_light {
    background: rgb(225, 222, 222);
}
.logo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10em;
    align-items: center;
    /* display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;
    padding-top: 1em; */
}
.img_logo {
    width: 2rem;
    height: 2rem;
}
.mobile_menu_wrapper {
    width: 100vw;
    height: 90vh;
    transition: background 0.5s ease;
}
.menu {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    list-style: none;
    text-decoration: none;
    overflow-y: auto;
}
.menu_dark {
    color: white;
}
.menu_light {
    color: black;
}
.menu_item {
   
}
/* .menu_item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: width 0.2s ease;
} */
.menu_item:hover {
    font-weight: bold;
}