.wrapper {
    transition: background 0.5s ease;
}
.wrapper_dark {
    background: rgb(9, 9, 65);
}
.wrapper_light {
    background: rgb(238, 237, 237);
}
.main {
    font-size: 3rem;
    height: 100%;
    width: 75vw;
}
.main_dark {
    color: white;
}
.main_light {
    color: black
}